@page "/"

<h1>Hello, world!</h1>

Hello, my name is Sebastian Inthasane and I am from Fort Myers, Florida. I am currently<br> 
a student at Florida Gulf Coast University who is studying Computer Information Systems<br>
with a focus in progamming. In the future, I plan on pursuing a career as a computer programmer<br>
or a network and computer systems administrator. In my spare time, I like to play golf and read<br>
about current and upcoming technology. <br />

<SurveyPrompt Title="How is Blazor working for you?" />
